<a href="https://colab.research.google.com/github/jagadish-samarla/MachineLearningPractise/blob/main/diabetesPrediction.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

PIMA data set collection and analysis

In [2]:
dia = pd.read_csv('/content/diabetes.csv')

In [3]:
dia.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [4]:
dia.tail()

     Pregnancies  Glucose  ...  Age  Outcome
763           10      101  ...   63        0
764            2      122  ...   27        0
765            5      121  ...   30        0
766            1      126  ...   47        1
767            1       93  ...   23        0

[5 rows x 9 columns]

In [6]:
dia.shape

(768, 9)

In [7]:
dia.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [8]:
dia['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0 --> Non - diabete

1 --> Diabete

In [9]:
dia.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [10]:
X = dia.drop(columns= 'Outcome', axis = 1)
y = dia['Outcome']

In [12]:
print(X)
print(y)

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]
0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

Data Standardization

In [13]:
scaler = StandardScaler()

In [14]:
scaler.fit(X)

StandardScaler(copy=True, with_mean=True, with_std=True)

In [15]:
standardaized_data = scaler.transform(X)

In [16]:
print(standardaized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [17]:
X = standardaized_data
y = dia['Outcome']

Printing Training and test data

In [27]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, stratify = y , random_state = 2 )

In [28]:
print(X.shape , X_train.shape)

(768, 8) (614, 8)

Training the model

In [29]:
classifier = svm.SVC(kernel='linear')

Fitting the training data to SVM

In [30]:
classifier.fit(X_train, y_train)

SVC(C=1.0, break_ties=False, cache_size=200, class_weight=None, coef0=0.0,
    decision_function_shape='ovr', degree=3, gamma='scale', kernel='linear',
    max_iter=-1, probability=False, random_state=None, shrinking=True,
    tol=0.001, verbose=False)

Evaluating the model

In [31]:
#accuracy score
X_train_pred = classifier.predict(X_train)
training_accuracy = accuracy_score(X_train_pred, y_train)
print(training_accuracy)

0.7866449511400652

In [32]:
#accuracy score on test data
X_test_pred = classifier.predict(X_test)
testing_accuracy = accuracy_score(X_test_pred, y_test)
print(testing_accuracy)

0.7727272727272727

Making a predictive system

In [42]:
#input_data = (1,97,66,15,140,23.2,0.487,22)
input_data = (3,158,76,36,245,31.6,0.851,28)
#changing the data into numpy array 
input_np = np.asarray(input_data)

#reshaping the array
input_reshaped = input_np.reshape(1,-1)

#standardising the data
std_data = scaler.transform(input_reshaped)

#print(std_data)

predict = classifier.predict(std_data)
#print(predict)

if predict[0] == 1:
  print('Patient is Diabetic')
else:
  print('Patient is Non-Diabetic')

Patient is Diabetic